/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.ubar-page-wrapper h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #383838;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.ubar-page-wrapper p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #737373;
  font-size: 16px;
  line-height: 200%;
  padding-bottom: 15px;
}
.ubar-page-wrapper a {
  color: #db9302;
  text-decoration: none;
}
.ubar-page-wrapper a:hover {
  text-decoration: underline;
}
.ubar-page-wrapper .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.ubar-page-wrapper .three-columns {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
}
@media (max-device-width: 667px) {
  .ubar-page-wrapper .three-columns {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }
}
.ubar-page-wrapper .three-columns div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
}
.ubar-page-wrapper .header {
  padding: 15px 0;
  border-bottom: solid 1px #CCCCCC;
  border-top: solid 1px #CCCCCC;
}
.ubar-page-wrapper .header .logo {
  font-weight: bold;
  color: #101010;
  font-size: 25px;
  display: inline;
  margin-right: 10px;
}
.ubar-page-wrapper .header .nav {
  display: inline-block;
  float: right;
}
.ubar-page-wrapper .header .nav ul {
  display: inline-block;
  margin: 10px 0;
}
.ubar-page-wrapper .header .nav ul li {
  list-style-type: none;
  display: inline;
  padding: 0 10px;
}
.ubar-page-wrapper .header .nav ul li a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 100;
}
.ubar-page-wrapper .header .nav ul li a:hover {
  color: #383838;
  text-decoration: none;
}
.ubar-page-wrapper .panel {
  padding: 40px 0;
}
.ubar-page-wrapper .box {
  background: #F6F6F6;
  padding: 10px;
  margin: 10px;
}
.ubar-page-wrapper .input-group {
  display: block;
  font-size: 14px;
  color: #737373;
}
.ubar-page-wrapper .horizontal-line {
  margin: 20px 0;
  border-bottom: solid 1px #CCC;
}
.ubar-page-wrapper input[type="text"],
.ubar-page-wrapper input[type="number"],
.ubar-page-wrapper input[type="url"],
.ubar-page-wrapper textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.77778rem;
  height: 2.05556rem;
  margin: 0 0 0.88889rem 0;
  padding: 0.44444rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear;
  -moz-transition: border-color 0.15s linear, background 0.15s linear;
  -ms-transition: border-color 0.15s linear, background 0.15s linear;
  -o-transition: border-color 0.15s linear, background 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear;
}
.ubar-page-wrapper select {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  color: rgba(0, 0, 0, 0.75);
  font-family: inherit;
  font-size: 0.77778rem;
  line-height: normal;
  padding: 0.44444rem;
  border-radius: 0;
  height: 2.05556rem;
  width: 100%;
}
.ubar-page-wrapper .button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #c98702;
  color: #c98702;
  cursor: pointer;
  float: right;
  font-size: 15px;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 19px;
  padding: 10px 14px;
}
.ubar-page-wrapper .button.expand-button {
  width: 100%;
}
.ubar-page-wrapper .footer {
  width: 100%;
  padding: 10px 0;
  border-top: solid 1px #CCC;
  margin-top: 60px;
}
