<div class="component-ubar ubar-hide">
  <div class="ubar-copy">
    <div class="app-icon"></div>
    <div class="ubar-text-wrapper">
      <h1 class="ubar-banner-title">
        UBAR!
      </h1>
      <p class="ubar-banner-desc">
        This is the description.
      </p>
    </div>
  </div>
  <div class="ubar-actions">
    <div class="ubar-button-wrapper">
      <button class="ubar-inverse-button ubar-install-app-button">
        Install app
      </button>
    </div>
    <div class="ubar-button-wrapper">
      <button class="ubar-button ubar-on-button ubar-open-app-button">
        Open in app
      </button>
    </div>
  </div>
  <button class="ubar-close-banner-button ubar-close-button">&times;</button>
</div>
