<div class="component-ubar ubar-hide">
  <button class="ubar-close-banner-button ubar-close-button">&times;</button>
  <div class="ubar-copy">
    <div class="app-icon">UBAR Logo</div>
    <p class="ubar-banner-title">
      UBAR!
    </p>
    <p class="ubar-banner-desc">
      This is the description.
    </p>
  </div>
  <div class="ubar-actions">

    <button class="ubar-button ubar-install-app-button">
      Install our app.
    </button>

    <button class="ubar-button ubar-open-app-button">
      Open this page in the app.
    </button>

  </div>
</div>
