<div class="component-ubar ubar-preferences ubar-hide">
  <button class="ubar-close-banner-button ubar-close-button">&times;</button>
  <div class="ubar-copy">
    <p class="ubar-banner-title">
      UBAR!
    </p>
    <p class="ubar-banner-desc">
      This is your description
    </p>
  </div>
  <div class="ubar-actions">

    <button class="ubar-button ubar-preferences-button">
      Manage UBAR
    </button>

    <button class="ubar-button ubar-open-page-in-app-button">
      Open This Page In App
    </button>

  </div>
</div>
