<div class="component-ubar ubar-preferences ubar-hide">
  <div class="ubar-copy">
    <div class="app-icon"></div>
    <div class="ubar-text-wrapper">
      <p class="ubar-banner-title">
        UBAR!
      </p>
      <p class="ubar-banner-desc">
        This is your description
      </p>
    </div>
  </div>
  <div class="ubar-actions">
    <div class="ubar-button-wrapper">
      <button class="ubar-button ubar-off-button">
        Manage UBAR
      </button>
    </div>
    <div class="ubar-button-wrapper">
      <button class="ubar-button ubar-open-in-app-button">
        Open in app
      </button>
    </div>
  </div>
  <button class="ubar-close-banner-button ubar-close-button">&times;</button>
</div>
